build/*
data/*
env_SBM/*
results/*
scripts/*
figures/*

src/SBM.egg-info/

src/SBM/MonteCarlo/C_MonteCarlo.c
src/C_MonteCarlo.cpython-37m-x86_64-linux-gnu.so
src/SBM/MonteCarlo/C_MonteCarlo_TempDist.pyx
src/SBM/MonteCarlo/setup_MCMC_TempDist.py
src/SBM/SCA/sca_pruning_withCode.py

src/MonteCarlo_Potts.cpython-37m-x86_64-linux-gnu.so
MonteCarlo_Potts.cpython-37m-x86_64-linux-gnu.so

MonteCarlo_Dist.cpython-37m-x86_64-linux-gnu.so
quarto-1.3.450-linux-amd64.tar.gz

src/SBM/MonteCarlo/MCMC_Cython
src/SBM/MonteCarlo/MCMC_Dist
src/SBM/MonteCarlo/MCMC_Ising

src/SBM/utils/utils_GridSearch.py

**/__pycache__/*
*.pyc
.vscode/*

.DS_Store
